.header{
    .nav{
        &__logo{
            @include size(10%,100%);
        }
        &__shopping{
            position:relative;
            left: 35%;
            @include size(5%,90%);
        }
        &__menu{
            @include size(3%,90%);
        }
    }
}

.container{
    @include size(100%,auto);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &__form{
        @include size(14%,40vh);
        background-color: green;
    }
    &__product{
        @include size(85%,auto);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        .container__div{
            @include size(30%,50vh);
            transition: all 0.5s;
            margin: 10px 0px;
        }
        .container__div:hover{
            transform: scale(1.1,1.1);
        }

    }
}