.header{
    @include size(100%,100vh);
    .nav{
        display: flex;
        @include size(100%,8vh);
        justify-content: space-between;
        align-items: center;
        background-color: #000000;
        position:fixed;
        z-index: 4;
        &__logo{
            @include size(30%,100%);
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            .nav__icon{
                @include size(50%,80%)
            }
            .nav__p{
                color:red;
                display: inline-block;
            }
        }
        &__ul{
            list-style: none;
            position: fixed;
            top:8%;
            @include size(100%,100vh);
            background-color: green;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-content: center;
            z-index: 1;
            transition: all 2s;
            .nav__li{
                .nav__link{
                    color: #ffffff;
                    text-decoration: none;
                    padding-bottom: 0.25rem;
                    display: inline-block;
                    position: relative;
                }
                .nav__link::before{
                    content: " ";
                    position: absolute;
                    width: 0%;
                    bottom: 0;
                    // left: 0;
                    right: 0;
                    height: 2px;
                    background-color: blue;
                    transition: all 1s;
                }
                .nav__link:hover::before{
                    width: 100%;
                    left: 0;
                }
            }
        }
        .nav__active{
            transform: translateX(150%);
            opacity: 0;
        } 
        &__shopping{
            margin-left: 90px;
            position: relative;
            @include size(15%,90%);
            .nav__number{
                color:#ffffff;
                position:absolute;
                left: 30px;
                top: 5px;
                background-color: #ff0000;
                padding: 2px 8px;
                border-radius: 20px;
            }
            .nav__cart{
                @include size(100%,100%);
            }
        }
        &__menu{
            @include size(15%,90%);
            margin-right: 5px;
            box-sizing: border-box;
            cursor: pointer;
            transition: all 2s;
            .nav__tail{
                @include size(100%,100%);
                display: flex;
                flex-flow: row wrap;
                align-content: space-around;
                justify-content: flex-end;
                .nav__span{
                    display: block;
                    @include size(100%,10%);
                    background-color: #ff0000;
                }
                .nav__span--height{
                    @include size(70%,10%);
                }
                .nav__span--low{
                    @include size(40%,10%);
                }
            }
            
        }
        /* &__menu:hover{
            border: #ffffff solid 1px;
        } */
    }
.carrusel{
    @include size(100%,92vh);
    &__img1{
        @include size(100%,100%);
        background: url(../img/fondo-msi.jpg);
        background-size: cover;
        background-position: center;
    }
}
}