.container{
    @include size(100%,auto);
    &__div{
        @include size(100%,60vh);
        background: url(../img/fondo-notebook.jpg);
        background-size: cover;
        border: 1px solid #ffffff;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-rows: repeat(4,25%);
        grid-template-columns: repeat(2,50%);
        grid-template-areas:
        "imagen lista"
        "imagen lista"
        "precio lista"
        "boton lista"
        ;
        .container__ul{
            grid-area: lista;
            color:#ffffff;
            list-style: none;
            .container__li{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                margin: 5px;
                .container__logo{
                    @include size(48px,50px);
                    
                }
                .container__span{
                    margin-left: 10px;
                    font-size: 13px;
                }
            }
        }
        .container__img{
            grid-area: imagen;
            @include size(100%,100%);
         
        }
        .container__button{
            grid-area: boton;
            background:linear-gradient(to left,rgb(245, 14, 14),rgb(245, 245, 17));
            border-radius: 20px;
            padding: 10px 10px;
            color: #000000;
            cursor: pointer;
        }
        .container__p{
           
            background:url(../img/logos/precios.png);
            background-size: cover;
            grid-area: precio;
            font-size: 2rem;
            padding: 40px 35px;
        }
    }
}