*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
}
@mixin size($ancho,$altura) {
    width: $ancho;
    height: $altura;
}

@import '../sass/header';
@import '../sass/secciones';


@media (min-width: 1024px){
    @import '../sass/_media';
}