.header{
    @include size(100%,100vh);
    .nav{
        position:fixed;
        @include size(100%,8%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .2s;
        z-index: 10;
        &__logo{
            @include size(8%,80%);
            background-color: $naranja;
            margin-left: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content:center;
            align-items: center;
            .nav__a{
                display:inline-block;
                margin-top: 1px;
                @include size(35%,100%);
                .nav__icon{
                    @include size(100%,100%);
                }
            }
            .nav__name{
                display:inline-block;
                font-size: 1.5rem;
                margin-left: 6px;
                margin-bottom: 5px;
                @include size(50%,40%);
                color:$negro;
            }
        }
        &__navbar{
            position: fixed;
            @include size(50%,92%);
            background-color: $verde;
            top:8%;
            right: 0%;
            opacity: 1;
            transition: all 0.9s;
            .nav__ul{
                list-style: none;
            }
        }
        &__active{
            opacity: 0;
            right: -100%;
        }
        &__cart{
            @include size(4%,90%);
            position: relative;
            margin-left: 75%;
            .nav__p{
                position:absolute;
                left: 25px;
                background-color: $naranja;
                border: 2px solid $negro;
                border-radius: 20px;
                padding: 1px 7px;
                color: $blanco;
            }
            .nav__img{
                @include size(100%,100%);
                cursor: pointer;
            }
            .nav__buy{
                @include size(35%,40%);
                background-color:#dddddd;
                position:fixed;
                right: 120px;
                bottom: 52%;
                opacity: 1;
                .nav__product{
                    @include size(100%,80%);
                    overflow:auto;
                    margin: 0 auto;
                    .nav__modelo{
                        @include size(90%,20vh);
                        display: flex;
                        margin: 0 auto;
                        flex-flow: row wrap;
                        justify-content:space-evenly;
                        align-content: center;
                        align-items: center;
                        border-bottom: 1px $naranja solid;
                        position: relative;
                        transition: all .10s;
                        .nav__productImg{
                            @include size(35%,90%);
                            .nav__laptopImg{
                                @include size(100%,100%);
                            }
                        }
                        .nav__junk{
                            position:absolute;
                            @include size(8%,25%);
                            right: 0;
                            bottom:90px;
                        }
                    }
                }
                .nav__product::-webkit-scrollbar{
                    width: 10px;
                }
                .nav__product::-webkit-scrollbar-thumb{
                    background-color:$naranja;
                    border-radius: 20px;
                }
            }
            .nav__buyActive{
                opacity: 0;
                display: none;
            }
            
        }
        &__menu{
            @include size(4%,90%);
            margin-right: 10px;
            display: flex;
            flex-flow: column wrap;
            justify-content:space-evenly;
            align-items: flex-end;
            cursor: pointer;
            .nav__span-1{
                position: relative;
                @include size(100%,5px);
                background-color: $naranja;
                transition: all .2s;
            }
            
        }
        &__menu:hover{
            .nav__span-1--medio{
                width: 60%;
               
            }
            .nav__span-1--abajo{
                width: 30%;
            }
        }
    }
    &__carrusel{
        @include size(100%,100vh);
        overflow: hidden;
        .header__slider{
            width: 300%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;
            transition: all .4s;
            .header__slide{
                width: 100%;
                height: 100%;
                background: url(../../img/fondos/fondo-1.jpg);
                background-size: cover;
                
            }
            .header__slide--img1{
                background: url(../../img/fondos/fondo-2.jpg);
                background-size: cover;
            }
            .header__slide--img2{
                background: url(../../img/fondos/fondo-3.jpg);
                background-size: cover;
            }
        }
    }
}